{% extends "home.html" %}

{% block page_specific_styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.min.css" />
<link rel="stylesheet" href="/static/styles/css/aboutus.css">
{% endblock %}

{% block aboutus %}
  <div id="aboutus-content">
    <h1>Sobre de nosotros</h1>

    <h2>Misión</h2>
    <p>Somos una organización estudiantil de la Universidad de Ingeniería y Tecnología (UTEC), que busca crear un entorno en el que los estudiantes puedan desarrollar sus habilidades e interés en la programación competitiva.</p>

    <div class="carousel">
      <div class="carousel-cell"><img src="/static/images/imagen1.jpg" alt="Imagen 1"></div>
      <div class="carousel-cell"><img src="/static/images/imagen2.jpg" alt="Imagen 2"></div>
      <div class="carousel-cell"><img src="/static/images/imagen3.jpg" alt="Imagen 3"></div>
    </div>

    <h2>Beneficios de ser miembro</h2>
<div class="info-grid">
  <div class="info-item image1">
    <h3>Soporte</h3>
    <p>Nuestra comunidad brinda apoyo en la resolución de problemas, cursos relacionados a algoritmos, entre otros temas afines.</p>
  </div>
  <div class="info-item image2">
    <h3>Clases</h3>
    <p>Brindamos clases especializadas sobre temas avanzados dentro de la programación competitiva para preparar a los miembros para las competencias</p>
  </div>
  <div class="info-item image3">
    <h3>Concursos</h3>
    <p>Se asignan problemas de diversos temas para aprender más sobre algoritmos y estructuras de datos.</p>
  </div>
  <div class="info-item image4">
    <h3>Integración</h3>
    <p>Podrás crear distintos vínculos con personas que comparten los mismos intereses.</p>
  </div>
</div>
  </div>

{% endblock %}

{% block page_specific_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.pkgd.min.js"></script>
<script src="/static/styles/js/about.js" defer></script>
{% endblock %}
