{% extends "home.html" %}

{% block page_specific_styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.min.css" />
<link rel="stylesheet" href="/static/styles/css/aboutus.css">
{% endblock %}

{% block aboutus %}
  <div id="aboutus-content">
    <h1>About us</h1>

    <h2>Acerca de Nosotros</h2>
    <p>El club se creó en 2020</p>
  </div>

  <div class="carousel">
    <div class="carousel-cell"><img src="/static/images/imagen4.jpg" alt="Imagen 1"></div>
    <div class="carousel-cell"><img src="/static/images/imagen5.jpg" alt="Imagen 2"></div>
    <div class="carousel-cell"><img src="/static/images/imagen6.jpg" alt="Imagen 3"></div>
  </div>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.pkgd.min.js"></script>
<script src="/static/styles/js/about.js" defer></script>
{% endblock %}

