{%extends "home.html"%}
{%block events%}
    <div style="text-align: center; font-family: Arial, sans-serif; color: #333;">
        <h1 style="margin-bottom: 50px;">Eventos regulares</h1>
        <div style="background-color: #f2f2f2; padding: 20px; margin-bottom: 20px; border-radius: 5px;">
            <p style="font-size: 20px;">Feria de organizaciones estudiantiles</p>
            <p style="font-size: 16px; color: #666;">Hola utecsinos, estamos emocionados de contarles que este miércoles 19 de abril se dará la feria de organizaciones estudiantiles 😄📚

En ella podrás conocer muchos clubs, entre ellos el nuestro. Te invitamos a que conozcas el club de programación competitiva y participar de actividades divertidas! 😎💻🤓

Nos vemos pronto 🫶🏼
-CPC</p>
            <img src="/static/images/Evento1.png" alt="Descripción de la imagen" style="max-width: 100%; height: auto;">
        </div>

        <div style="background-color: #f2f2f2; padding: 20px; margin-bottom: 20px; border-radius: 5px;">
            <p style="font-size: 20px;">Entrenamiento para principiantes</p>
            <p style="font-size: 16px; color: #666;">Hola estudiantes, les anunciamos que nuestro club empezará las clases para el entrenamiento a principiantes dirigidas a estudiantes de UTEC 💻👩🏻‍💻

Estas clases consistirán en aprender las bases de programación competitiva y muchas otras cosas. Al terminar las clases, si cumples con ciertos requisitos y términos, podrás pertenecer al club. 🥳🤩

Si estás interesado en recibir información acerca de lo mencionado, inscríbete en el forms ⬇️⬇️⬇️

https://forms.gle/rLThRNzapM8uifQt7</p>
            <img src="/static/images/Evento2.png" alt="Descripción de la imagen" style="max-width: 100%; height: auto;">
        </div>
