<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="content-type" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/styles/css/home.css">
        {% block page_specific_styles %}{% endblock %}
        <script src="/static/styles/js/interfaz.js" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Club de Programación Competitiva</title>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    </head>
    <body>
        <nav>
            <nav class="nav" id="navbar">
                <i class="uil uil-bars navOpenBtn"></i>
                <a href="/"><img src="/static/images/globos.jpg" alt="logo" class="logo"></a>
                <ul class="nav-links">
                  <i class="uil uil-times navCloseBtn"></i>
                  <li><a href="/aboutus">About us</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="/resources">Resources</a></li>
                  <li><a href="/events">Events</a></li>
                  <li><a href="/signup" class="SignUp">Sign Up</a></li>
                  <li><a href="/login" class="LogIn">Log In</a></li>
                </ul>
            </nav>
        </nav>

        {%block signup%}
        {%endblock%}

        {%block login%}
        {%endblock%}

        {%block resources%}
        {%endblock%}

        {%block faq%}
        {%endblock%}

        {%block aboutus%}
        {%endblock%}

        {%block events%}
        {%endblock%}
        
        {%block extra_js%}
        {%endblock%}

        {%block interfaz%}
        {%endblock%}
        
    </body>
</html>
