{%extends "home.html"%}
{%block interfaz%}    
    <link rel="stylesheet" href="/static/styles/css/interfaz.css">
         <div id="interfaz-content">
             <div id="text-content">
                 <h1>Bienvenido al Club de Programación Competitiva UTEC!</h1>
                 <div>
                     <span id="typed-text"></span><span id="cursor">|</span>
                 </div>
                 <p>¡Somos el Club de Programación Competitiva CPC de UTEC!</p>
                 <p>¡Aprende sobre algoritmos y estructuras de datos, y aplica tus conocimientos en divertidas competencias!</p>
                 <a href="/aboutus" class="info-button">Más información</a>
             </div>
             <div id="image-content">
                 <img src="/static/images/interfaz.jpg" alt="Imagen grande" id="big-image">
             </div>
         </div>  
{%endblock%}