<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="content-type" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/styles/home.css">
        <script src="/static/styles/home.js" defer></script> 
        <title>Club de Programación Competitiva</title>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    </head>
    <body>
        <nav>
            <nav class="nav" id="navbar">
                <i class="uil uil-bars navOpenBtn"></i>
                <a href="/"><img src="static/images/globos.jpg" alt="logo" class="logo"></a>
                <ul class="nav-links">
                  <i class="uil uil-times navCloseBtn"></i>
                  <li><a href="/">Home</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="/blog">Blog</a></li>
                  <li><a href="/sign_up" class="SignUp">Sign Up</a></li>
                  <li><a href="/log_in" class="LogIn">Log In</a></li>
                </ul>
            </nav>
        </nav>
        <div class="container">
            <div class="form-container log-in-container">
                <form action="/log_in" method="POST">
                    <h2>Log In</h2>
                    <div class="social-container">
                        <a href="#" class="social"><i class="uil uil-facebook-f"></i></a>
                        <a href="#" class="social"><i class="uil uil-google"></i></a>
                        <a href="#" class="social"><i class="uil uil-linkedin-alt"></i></a>
                    </div>
                    <span>or use your account</span>
                    <input type="email" placeholder="Email" name="email" required/>
                    <input type="password" placeholder="Password" name="password" required/>
                    <a href="#">Forgot your password?</a>
                    <button>Log In</button>
                </form>
            </div>
        </div>
    </body>
</html>