{%extends "home.html"%}
    {%block login%}
    <script src="/static/styles/js/login.js" defer></script> 
        <form id="login" action="/login" method="post">
            <h1>Log In</h1>
            <p class="error confirm-password-error"></p>
            <ul>
                <li>
                    <label for="username">Correo </label>
                    <input type="text" id="username" name="user_nickname" placeholder="Email" required>
                </li>

                <li>
                    <label for="password">Contraseña </label>
                    <input type="password" id="password" name="user_password" placeholder="Password" required>

                </li>

                <li>
                    <label for="remember"></label>
                    <input type="checkbox" id="remember" name="remember" value="remember">
                    <label for="remember">Remember me</label>
                
                <li>
                    <button type="submit">Log In</button>
                </li>
                <p>Don't have an account? <a href="/signup">Sign Up</a></p>
            </ul>

        </form>
{%endblock%}