{%extends "home.html"%}
{%block login%}
<script src="/static/styles/js/login.js" defer></script>

<div class="login-container">
  <form id="login" action="/login" method="post">
    <img src="/static/images/logo.png" alt="Logo" class="logo"> <!-- Reemplaza 'logo.png' con la ruta a tu logo -->
    <h2>Iniciar sesión</h2>
    <p class="error confirm-password-error"></p>
    <p>Ingresa tus datos a continuación</p>
    <ul>
        <li>
            <label for="username">Correo </label>
            <input type="text" id="username" name="user_nickname" placeholder="Email" required>
        </li>

        <li>
            <label for="password">Contraseña </label>
            <input type="password" id="password" name="user_password" placeholder="Password" required>
        </li>

        <li>
            <label for="remember"></label>
            <input type="checkbox" id="remember" name="remember" value="remember">
            <label for="remember">Remember me</label>
        </li>
        <li>
            <button type="submit">Log In</button>
        </li>
    </ul>
    <p>Don't have an account? <a href="/signup">Sign Up</a></p>
  </form>
</div>

{%endblock%}
