<nav class="nav" id="navbar">
    <i class="uil uil-bars navOpenBtn"></i>
    <a href="/"><img src="static/images/globos.jpg" alt="logo" class="logo"></a> <!-- ver xq no funciona cargar la imagen-->
    <ul class="nav-links">
        <i class="uil uil-times navCloseBtn"></i>
        <li><a href="/">Home</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="blog">Blog</a></li>
        <li><a href="sign_up" class="SignUp">Sign Up</a></li>
        <li><a href="log_in" class="LogIn">Log In</a></li>
    </ul>
</nav>