{%extends "home.html"%}
    {%block newProblem%}
    <script src="/static/styles/js/login.js" defer></script> 
    <link rel="stylesheet" href="static/styles/css/login.css">
        <form id="newProblem" action="/newProblem" method="post">
            <h2>New problem</h2>
            <!-- <p class="error confirm-password-error"></p> -->
            <ul>
                <li>
                    <label for="username">Title </label>
                    <input type="text" id="title" name="title" placeholder="Titulo" required>
                </li>

                <li>
                    <label for="link">Link </label>
                    <input type="text" id="link" name="link" placeholder="Link" required>
                </li>

                <li>
                    <label for="contest">Contest name </label>
                    <input type="text" id="contest" name="contest" placeholder="Nombre del Contest" required>
                </li>
                    <button type="submit">Nuevo Problema</button>
                </li>
                <p>¿No tienes contest? <a href="/contests/new">Nuevo Contest</a></p>
            </ul>

        </form>
{%endblock%}
